*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: rgb(8, 156, 139);
    display: flex;
    flex-direction: column;
}
main{
    background-color: rgb(18, 171, 87);
}
.grupos{
    display: flex;
    flex-direction: column;
}

.tendencia{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 5px;

}

.seriespopu{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 5px;
}

.peliculaspopu{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 5px;
}

.pelis{
    display: flex;
    height: 75px;
}

