@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Poppins:wght@300;400;500&display=swap');


*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    white-space: nowrap;
    color: beige;
}
footer li{
    color: beige;
}
body{
    background-color: rgb(26, 22, 22);
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;;
}
header{
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    width: 100vw;
}
.nav1{
    width: 100%;
    display: flex;
}
.nav1 li{
    margin: 0px 15px;
}
.logo{
    height: 50px;
    margin: 0 0 0 4px;
}
div.busqueda{
    display: flex;
    align-self: flex-end;
    align-items: center;
    width: auto;
    margin: 0 30px 7px 0;
    padding: 5px;
}
.busqueda img{
    margin: 0 4px;
}
main{
    width: 100vw;
    width: 100%;
    height: auto;
    margin: 25px 0px 35px 0px;
    display: flex;
    flex-direction: column;
    background-color: rgb(136, 20, 76);

    
}
.grupos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;
    padding: 0 10px;
}
.grupos article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 16px 0px;
    padding: 0px 0px 0px 40px;
}
.pelis{
    display: flex;
    width: 150px;
}
.grupos p{
    text-align: center;
}
.caja{
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
    border: 5px;
}
.container{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    border: 5px;
    
}
.seriespopu{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border: 5px;
}
.peliculaspopu{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 5px;
}
.tit{
    display:flex;
    align-items:flex-start;
    border: 5px;
    margin-left: 40px;
    margin-bottom: 10px;
}
.pelis{
    display: flex;
    height: 200px;
}
.fav1{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 5px;
    margin: 10px;
}
.fav2{
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    border: 5px;
}
.genres a{
    color: rgb(0, 0, 0);
}
.genres{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.genres ul{
    display: flex;
    flex-direction: row;
}
.genres li{
    margin: 30px;
}
.favo{
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-start;
    border: 5px;
    padding: 0 10px;
}
.caj{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    border: 5px;
}
.caj article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 16px 0px;
    padding: 0px 0px 0px 40px;
}
.h1f{
    display:flex;
    align-items:flex-start;
    border: 5px;
    margin-left: 40px;
    margin-bottom: 10px;
}
.detalle{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border: 5px;
}
.detalle img{
    margin: 10px;    
}

.dere{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 5px;
}
.dere a{
    color: black;
}
.detalle-genero{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    border: 5px;
}
.detalle-genero img{
    width: 40vh;
    height: 50vb;
    margin: 10px; 
}
.seriei img{
    width: 40vh;
}
.logo1 {
    height: 50px;
    margin-left: 40px;
}

@media (max-width: 420px) {
    /* .pelis{ */
        /* width: 50%;
    }
    .logo{
        height: 50%;
    }
    .detalle img{
        width: 50%; */
    
    header{
        flex-direction: column;
    }

    .nav1{
        flex-direction: column;
    }
    .detalle{
        flex-direction: column;
        align-items: center;
    }
    .genres ul{
        flex-direction: column;
    }

    

}

    